<%-include('../user/userLayout/userheader') %>
<style>
body {
        background: radial-gradient(circle, rgb(136, 203, 192), #3c5d50);
    }

    .form-outline small {
        visibility: hidden;
    }

    .form-outline {
        position: relative;
    }

    .form-outline i {
        position: absolute;
        top: 39px;
        right: 10px;
        visibility: hidden;
    }

    .form-outline.success label {
        color: #000000;
        visibility: visible;
    }

    .form-outline.success i.fa-check-circle {
        color: #000000;
        visibility: visible;
    }

    .form-outline.error i.fa-exclamation-circle {
        color: #e74c3c;
        visibility: visible;
    }

    .form-outline.error small {
        color: #e74c3c;
        visibility: visible;
    }

    .mainDiv {
        display: flex;
        min-height: 100%;
        align-items: center;
        justify-content: center;
        font-family: 'Open Sans', sans-serif;
    }

    .cardStyle {
        width: 500px;
        border-color: white;
        background: #fff;
        padding: 36px 0;
        border-radius: 4px;
        margin: 30px 0;
        box-shadow: 0px 0 2px 0 rgba(0, 0, 0, 0.25);
    }

    .formTitle {
        font-weight: 600;
        margin-top: 20px;
        color: #2F2D3B;
        text-align: center;
    }

    .inputLabel {
        font-size: 12px;
        color: #555;
        margin-bottom: 6px;
        margin-top: 24px;
    }

    .inputDiv {
        width: 70%;
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    input {
        height: 40px;
        font-size: 16px;
        border-radius: 4px;
        border: none;
        border: solid 1px #ccc;
        padding: 0 11px;
    }

    input:disabled {
        cursor: not-allowed;
        border: solid 1px #eee;
    }

    .buttonWrapper {
        margin-top: 40px;
    }

    .submitButton {
        width: 70%;
        height: 40px;
        margin: auto;
        display: block;
        color: #fff;
        background-color: #065492;
        border-color: #065492;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.035);
        border-radius: 4px;
        font-size: 14px;
        cursor: pointer;
    }

    .submitButton:disabled,
    button[disabled] {
        border: 1px solid #cccccc;
        background-color: #cccccc;
        color: #666666;
    }

    #loader {
        position: absolute;
        z-index: 1;
        margin: -2px 0 0 10px;
        border: 4px solid #f3f3f3;
        border-radius: 50%;
        border-top: 4px solid #666666;
        width: 14px;
        height: 14px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    /* New styles for displaying messages */
    #notificationMessage {
        margin-top: 20px;
        font-size: 14px;
    }

    .success {
        color: #008000; /* Green color for success */
    }

    .error {
        color: #ff0000; /* Red color for error */
    }
    .badge {
    position: absolute;
    top: 4px;
    right: 4px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 3px 6px;
    font-size: 12px;
    font-weight: bold;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
</style>
</style>
<nav class="custom-navbar navbar navbar-expand-md navbar-dark pb-3" aria-label="Furni navigation bar" style="height:71px;">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsFurni"
            aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsFurni">
            <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/shop">Shop</a>
                </li>
                <li><a class="nav-link" href="about.html">About us</a></li>
                <li><a class="nav-link" href="services.html">Services</a></li>
            </ul>
            <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
                <li>
                    <a class="nav-link" href="/cartPage" style="position: relative;">
                        <img src="/assets/images/cart.svg">
                        <% if (cartLength !== null || undefined) { %>
                            <span class="badge"><%= cartLength %></span>
                         <% } else { %>
                            <span class="badge">0</span>
                        <% } %>
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="/wishList" style="position: relative;">
                        <span class="material-symbols-outlined me-2" style="color: white;">
                            favorite
                        </span>
                    </a>
                </li>
        </div>
    </div>
</nav>
<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top" style="background-color: #3c5d50;">
      <a href="/" class="brand-wrap text-light text-decoration-none">
        <h2 style="font-size: 20px; font-weight: bold"><span class="text-warning">.f</span>-Wear</h2>
      </a>
      <div>
        <button class="btn btn-icon btn-aside-minimize">
          <i class="text-muted material-icons md-menu_open"></i>
        </button>
      </div>
    </div>
    <nav>
      <ul class="menu-aside">
        <li class="menu-item">
            <a class="menu-link" href="/userAccount"> <i class="icon material-icons md-person"></i>
                <span class="text">Info</span>
            </a>
        </li>
        <li class="menu-item ">
            <a class="menu-link" href="/orders"> <i class="icon material-icons md-shopping_cart"></i>
                <span class="text">Orders</span>
            </a>
        </li>
        <li class="menu-item">
            <a class="menu-link" href="/address"> <i class="icon material-icons md-contact_mail"></i>
                <span class="text">Address</span>
            </a>
        </li>
        <li class="menu-item ">
            <a class="menu-link" href="/wallet"> <i class="icon material-icons md-account_balance_wallet"></i>
                <span class="text">Wallet</span>
            </a>
        </li>
        <li class="menu-item active">
            <a class="menu-link" href="/changePasswordPage"> <i class="icon material-icons md-vpn_key"></i>
                <span class="text">Change password</span>
            </a>
        </li>
        <li class="menu-item ">
            <a class="nav-link d-flex text-danger ms-2" href="/userLogout">
                <span class="material-symbols-outlined">
                    logout
                </span>
            </a>
        </li>
      </ul>
    </nav>
  </aside>
<div class="mainDiv">
    <div class="mt-5">
        <form action="/changePassword" method="post" name="signupForm" id="signupForm">

            <h2 class="formTitle">
                Change your password
            </h2>
            <% if (locals.alert) { %>
             <p class="text-danger text-center" id="error"><%= alert %></p>
            <% } %>

            <div class="form-outline">

                <label class="inputLabel form-label" for="password">current  Password</label>
                <input type="password" id="currentPassword" name="currentPassword" class="form-control form-control-lg">
                <small></small>
            </div>
            <div class="form-outline">

                <label class="inputLabel form-label" for="password">New Password</label>

                <input type="password" id="password" name="password" class="form-control form-control-lg">
                <small></small>
            </div>
            <div class="form-outline">

                <label class="inputLabel form-label" for="confirmPassword">Confirm Password</label>

                <input type="password" id="confirmPassword" name="confirmPassword" class="form-control form-control-lg">
                <small></small>
            </div>

            <div class="buttonWrapper">
                <button type="submit" id="submitButton" class="submitButton pure-button pure-button-primary">
                    Continue
                </button>
            </div>
        </form>
    </div>
</div>
<script>
setTimeout(() => {
    document.getElementById('error').style.display='none'
}, 3000);

    fetch('/changePassword',{
        headers:{'Content-Type':'application/json'}
    })
    .then((result)=>{
        if(response){
    Swal.fire({
              title:message,
              icon: "success",
              showConfirmButton: false
            });
            setTimeout(() => {
              window.location.href = '/userAccount'
            }, 2000);
        }else{
            Swal.fire({
              title: error,
              icon: "error",
              showConfirmButton: false
            });
            setTimeout(() => {
              window.location.href = '/changePassword'
            }, 2000);
        }
    })
    
    document.addEventListener('DOMContentLoaded', function () {
        const form = document.getElementById('signupForm');

        form.addEventListener('submit', function (e) {
            e.preventDefault();
            checkInputs();
        });

        function checkInputs() {
            const password = document.getElementById('password');
            const currentPassword = document.getElementById('currentPassword');
            const confirmPassword = document.getElementById('confirmPassword');
            const passwordValue = password.value.trim();
            const currentPasswordValue = currentPassword.value.trim();
            const confirmPasswordValue = confirmPassword.value.trim();

            // Validating currentPassword
            if (currentPasswordValue === '') {
                setErrorFor(currentPassword, 'current Password cannot be blank');
            } else if (/^(?=.*[a-zA-Z])(?=.*\d).{8,}$/.test(currentPasswordValue) === false) {
                setErrorFor(
                    currentPassword,
                    "Current password does'nt match"
                );
            } else {
                setSuccessFor(password);
            }

            // Validating currentPassword
            if (passwordValue === '') {
                setErrorFor(password, 'Password cannot be blank');
            } else if (/^(?=.*[a-zA-Z])(?=.*\d).{8,}$/.test(passwordValue) === false) {
                setErrorFor(
                    password,
                    'Password must be at least 8 characters and contain at least 1 letter and 1 digit'
                );
            } else {
                setSuccessFor(password);
            }

            // Confirm password
            if (confirmPasswordValue === '') {
                setErrorFor(confirmPassword, 'New Password cannot be blank');
            } else if (
                passwordValue !== confirmPasswordValue ||
                /^(?=.*[a-zA-Z])(?=.*\d).{8,}$/.test(passwordValue)	 === false
            ) {
                setErrorFor(confirmPassword, 'Confirm password does not match');
            } else {
                setSuccessFor(confirmPassword);
                // If all inputs are successful, submit the form
                form.submit();
            }
        }

        // Handle validation error
        function setErrorFor(input, message) {
            const formOutline = input.parentElement;
            const small = formOutline.querySelector('small');
            small.innerHTML = message;
            formOutline.className = 'form-outline error';
        }

        // Handle validation success
        function setSuccessFor(input) {
            const formOutline = input.parentElement;
            formOutline.className = 'form-outline success';
        }
    });
</script>
<%- include('../user/userLayout/userFooter') %>