<footer class="bg-dark text-white pt-5 pb-4">
    <div class="container text-md-left">
        <div class="row text-md-left">

            <!-- Brand Description -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">f-Wear</h5>
                <p>f-Wear blends timeless elegance with modern design. Since 2023, we've redefined fashion for the bold
                    and conscious. Feel premium. Wear f-Wear.</p>
            </div>

            <!-- Useful Links -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Quick Links</h5>
                <p><a href="/about" class="text-white text-decoration-none">About Us</a></p>
                <p><a href="/shop" class="text-white text-decoration-none">Shop</a></p>
                <p><a href="/blog" class="text-white text-decoration-none">Blog</a></p>
                <p><a href="/contact" class="text-white text-decoration-none">Contact</a></p>
            </div>

            <!-- Policies -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Policies</h5>
                <p><a href="" class="text-white text-decoration-none">Return Policy</a></p>
                <p><a href="" class="text-white text-decoration-none">Shipping Info</a></p>
                <p><a href="" class="text-white text-decoration-none">Privacy Policy</a></p>
                <p><a href="" class="text-white text-decoration-none">Terms & Conditions</a></p>
            </div>

            <!-- Contact Info -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Contact</h5>
                <p><i class="fas fa-home mr-3"></i> Kochi, Kerala, India</p>
                <p><i class="fas fa-envelope mr-3"></i> support@fwear.com</p>
                <p><i class="fas fa-phone mr-3"></i> +91 9995179514</p>
            </div>

        </div>

        <!-- Social Media -->
        <hr class="mb-4">
        <div class="row align-items-center">
            <div class="col-md-7 col-lg-8">
                <p>© 2025 <strong>f-Wear</strong>. All Rights Reserved. | Designed by Shibil 👨‍💻</p>
            </div>
            <div class="col-md-5 col-lg-4">
                <div class="text-center text-md-right">
                    <a href="" class="text-white me-4"><i class="fab fa-facebook-f"></i></a>
                    <a href="" class="text-white me-4"><i class="fab fa-instagram"></i></a>
                    <a href="" class="text-white me-4"><i class="fab fa-twitter"></i></a>
                    <a href="" class="text-white me-4"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/validator@13.6.0"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.3.2/js/lightgallery.min.js"></script>

<script src="/assets/js/vendors/bootstrap.bundle.min.js"></script>
<script src="/assets/js/vendors/bootstrap.min.js"></script>
<script src="/assets/js/vendors/chart.js"></script>
<script src="/assets/js/vendors/jquery-3.6.0.min.js"></script>
<script src="/assets/js/vendors/jquery.fullscreen.min.js"></script>
<script src="/assets/js/vendors/perfect-scrollbar.js"></script>
<script src="/assets/js/vendors/select2.min.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/validator@13.6.0"></script>


<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/tiny-slider.js"></script>
<script src="/assets/js/custom.js"></script>
<script src="/assets/js/vendors/chart.js"></script>


<script src="/assets/js/vendors/bootstrap.bundle.min.js"></script>
<script src="/assets/js/vendors/bootstrap.min.js"></script>
<script src="/assets/js/vendors/chart.js"></script>
<script src="/assets/js/vendors/jquery-3.6.0.min.js"></script>
<script src="/assets/js/vendors/jquery.fullscreen.min.js"></script>
<script src="/assets/js/vendors/perfect-scrollbar.js"></script>
<script src="/assets/js/vendors/select2.min.js"></script>
<script src="/assets/js/main.js" type="text/javascript"></script>
<script src="/assets/js/custom-chart.js" type="text/javascript"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
</body>

</html>